body{
  margin:0;
  background-image:url("arkaplan.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display:flex 
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:lightcyan;
  position: fixed;
  top: 0;
  width: 100%;
  display:flex
}

li.topnav {
  float: left;
  border-right: 2.5px solid firebrick;
  border-bottom: 4px solid firebrick;
}

li a.topnav {
  display: block;
  color: steelblue;
  align: center;
  padding: 14px 119px;
  text-decoration: none;
  font-size:18px
}
li a.topnav:hover:not(.active) {
  background-color:lightblue;
  color:midnightblue;
}

.active {
  background-color: #4CAF50;
}
ul.topnavh {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:lightcyan;
  position: fixed;
  top: 0;
  width: 100%;
  display:flex
}

li.topnavh {
  float: left;
  border-right: 2.5px solid firebrick;
  border-bottom: 4px solid firebrick;
}

li a.topnavh {
  display: block;
  color: steelblue;
  align: center;
  padding: 14px 119px;
  text-decoration: none;
  font-size:18px
}
li a.topnavh:hover:not(.active) {
  background-color:lightblue;
  color:midnightblue;
}

.active {
  background-color: #4CAF50;
}
div.home {
  width: 1400px;
  padding-bottom: 1px;
  border: 5px solid firebrick;
  margin: 0;
  background-color:lightblue;
  margin-top:120px;
  margin-left:50px;
  height:800px;
}
div{
  width: 1400px;
  padding-bottom: 1px;
  border: 5px solid firebrick;
  margin: 0;
  background-color:lightblue;
  margin-top:150px;
  margin-left:50px;
  height:500px;
}

h1.homeh1{
  font-family:garamond;
  color:crimson;
}
h1{
  text-align-last: center;
  font-size:80px;
  font-family:garamond;
  color:crimson;
}
h2{    
  color:seagreen;
  text-align-last: center;
}
img.itül{
   float:left;
   clear:right;   
   widht:240px;
   height:160px;
   padding-left:26%;
}
img.tanl{
   float:right;
   clear:right;   
   widht:240px;
   height:160px;
   padding-right:30%;
}
ol.edu{
  align:middle;
}
img.eimage{
  widht: 250px;
  height: 200px; 
  clear:left;
  margin-left:35%;
  margin-right:35%;
}
li.edu{
  font-size:30px;
}
ul.carul{
  font-size:30px;
}
ul.conul{
  font-size:30px;
}
img.saml{
   widht:40%;
   height:40%;
   padding-left:22%;
   float:left;
}
img.asmll{
   widht:20%;
   height:20%;
   padding-right:22%;
   float:right;
}
a.link{
   font-size:35px;
}
iframe{
   float:right;
   width:40%;
   height:55%;
   padding-right:20%;
}
table{
   border: solid
}

table.edu {

   margin:auto;
}
div.edu{
  width: 1400px;
  padding-bottom: 1px;
  border: 5px solid firebrick;
  margin: 0;
  background-color:lightblue;
  margin-top:150px;
  margin-left:50px;
  height:700px;
}
table.ip_tab{
  border:2px solid firebrick;
  padding-left:15px;
  padding-right:15px;
  margin-top:-150px;
  margin-left:100px;
  width:70px;
  text_align:center;
}
form{
  margin-left:1000px;
}

p.rst{
  margin-left:1120px;
  font-size:20px;
  color:firebrick;
}
