<!DOCTYPE html>
<html>
<head>
    <title>Post an Image test</title>
    
</head>
<style>
    /* mirror the image */
    video, canvas {
    transform: scale(-1, 1); /*For Firefox (& IE) */
    -webkit-transform: scale(-1, 1); /*for Chrome & Opera (& Safari) */
}
</style>
<body>
<video id="video" autoplay></video>

<button id="snap">Snap Photo</button>

<img src="{{ url_for('video_feed') }}">


<script>
    var v = document.getElementById('video');
    var s = document.getElementById('snap');


    let imageCanvas = document.createElement('canvas');
    let imageCtx = imageCanvas.getContext("2d");



    window.onload = function () {

        //Get camera video
        navigator.mediaDevices.getUserMedia({video: {width: 1280, height: 720}, audio: false})
            .then(stream => {
                v.srcObject = stream;
            })
            .catch(err => {
                console.log('navigator.getUserMedia error: ', err)
            });

    };

    v.onclick = function() {
        console.log('click');
        sendImagefromCanvas();
    };

    s.onclick = function() {
        console.log('click');
        sendImagefromCanvas();
    };


    function sendImagefromCanvas() {

        
        imageCanvas.width = v.videoWidth;
        imageCanvas.height = v.videoHeight;

        imageCtx.drawImage(v, 0, 0, v.videoWidth, v.videoHeight);

        //Convert the canvas to blob and post the file
        imageCanvas.toBlob(postFile, 'image/jpeg');
    }

    function postFile(file) {
        let formdata = new FormData();
        formdata.append("image", file);
        let xhr = new XMLHttpRequest();
        //xhr.open('POST', 'http://0.0.0.0:5000/submit', true);
        xhr.open('POST', 'http://0.0.0.0:5000/submit', true);
        xhr.onload = function () {
            if (this.status === 200)
                console.log(this.response);
            else
                console.error(xhr);
        };
        xhr.send(formdata);
    }



</script>
</html>